/*generic css*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*header*/

header {
    height: 300px;
    margin-left: 30px;
    margin-top: 30px;
    background-color: black;
    position: relative;
}

#logo {
    height: 150px;
    width: 150px;
}

#navbar {
    background-color: blue;
    position: aboslute;
    right: 100px;
}

/*Hero*/

#hero-outer {
    height: 300px;
    width: 100%;

    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 300px;
    width: 100%;
    background: url(../images/boots-image-hero.jpg) no-repeat center center;
    background-size: contain;
}

#hero-cover-text {
    height: 100px;
    width: 100px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: #B9ff66;
    opacity: 0.5;
    position: absolute;
    right: 150px;
    bottom: 30px;
}

/*footer*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }

footer {
    height: 150px;
}

.container {
    background-color: blue;
}

.social-container {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
}
    

.social-links {
    width: 100px;
    height: 50px;
    text-align: center;
    border-style: dotted;
    border-color: blueviolet;
    font-size: 300%;
    color: #3a3a3a;
    background-color: chartreuse;
}