/*generic css*/

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2 {
    padding: 5%;
}

p {
    font-family: Montserrat;
    font-size: 120%;
}

li {
    font-family: Montserrat;
}

a, a:visited {
    text-decoration: none;
    color: #B9ff66;
}

/*header*/

#top-bar {
    height: 150px;
    margin-top: 30px;
    background-color: black;
    position: relative;
}

#navbar {
    color: #B9ff66;
    font-size: 125%;
    width: 300px;
    height: 150px;
    padding-top: 30px;
    
    position: absolute;
    right: 300px;
    bottom: 0;
}

#navbar li {
    list-style-type: none;
    display: flex;
    justify-content: right;
    padding: 1%;
}

#navbar a {
    text-decoration: none;
    color: inherit;
}

#navbar a:hover {
    border-bottom: 5px solid #3a3a3a;
}

#logo {
    height: 150px;
    width: 150px;
    margin-left: 250px;
    
}
/*Hero*/

#hero-outer {
    height: 400px;
    width: 100%;
    padding: 20px;
    margin-top: 20px;

    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 400px;
    width: 100%;
    background: url(../images/boots-image-hero-sized.jpg) no-repeat center center;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}

#hero-cover-text {
    height: 300px;
    width: 300px;
    text-align: center;
    font-family: 'Black Ops One';

    padding: 20px;
    background-color: #B9ff66;
    opacity: 0.5;
    
    position: absolute;
    right: 200px;
    bottom: 20px;
}

#hero-cover-text h3 {
    text-align: center;
    font-family: Montserrat;
    font-size: 150%;
    padding: 20px;
}

/*about*/

#about-section {
    height: 300px;
    width: 100%;
    margin-top: 25px;
    background: #B9ff66;

    display: flex;
    justify-content: center;
}

.about-block {
    height: 100%;
    width: 400px;
    font-family: 'Black Ops One';
    margin-left: 10px;
    text-align: center;
    padding: 1%;
}

/*top boots*/

#top-boots-section {
    height: 450px;
    width: 100%;
    margin-top: 25px;

    display: flex;
    justify-content: center;
}

.top-boots-block {
    height: 100%;
    width: 400px;
    font-family: 'Black Ops One';
    margin-left: 10px;
    text-align: center;
    padding: 1%;
}

.top-boots-block p {
    padding: 1%;
}

#top-boots-img {
    width: 300px;
    height: 300px;
    margin-left: 30px;
}

#top-boots-img img {
    max-width: 100%;
    max-height: 100%;
}

#top-boots-price-info {
    font-size: 150%;
    background-color: orange;
    border: darkorange;
    border-width: 5px;
    border-style: solid;
    padding: 5%;
    width: 200px;
    margin-left: 100px;
    margin-top: 100px;
}

/*sign up container*/

#sign-up-container {
    height: 300px;
    width: 100%;
    margin-bottom: 20px;
    background: url(../images/ball-only-logo.jpg) no-repeat center center;
}

#sign-up-container h3 {
    font-family: 'Black Ops One';
    font-size: 150%;
    margin-left: 100px;
    padding-top: 40px;
    padding-bottom: 10px;
}

#sign-up-container li {
    margin-left: 100px;
    font-family: Montserrat;
    font-size: 120%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sign-up-button {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin-left: 100px;
  margin-top: 20px;
  min-height: 60px;
  min-width: 0;
  max-width: 300px;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.sign-up-button :disabled {
  pointer-events: none;
}

.sign-up-button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.sign-up-button:active {
  box-shadow: none;
  transform: translateY(0);
}

/*footer*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }

footer {
    height: 150px;
    background-color: black;
}

.social-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}   

.social-links {
    width: 100px;
    height: 50px;
    background-color: black;
    text-align: center;
    font-size: 300%;
    color: #B9ff66;
    text-decoration: none;
}

#footer-copyright {
    text-align: center;
    font-size: 50%;
    background-color: black;
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 50px;
}

/* Media queries */

/* For larger to medium screens size from 800px wide and down */
@media screen and (max-width: 800px) {
    #top-bar {
        background-color: black;
        position: relative;
    }
    
    #navbar {
        color: #B9ff66;
        font-size: 125%;
        width: 100%;
        height: 150px;
        padding-top: 30px;
        
        position: absolute;
        right: 10px;
        bottom: 0;
    }

    #logo {
        margin-left: 10px;
    }

    #hero-cover-text {
        height: 200px;
        width: 200px;
        text-align: center;
        font-family: 'Black Ops One';
    
        padding: 20px;
        background-color: #B9ff66;
        opacity: 0.5;
        
        position: absolute;
        right: 10px;
        top: 20px;
    }
    
    #hero-cover-text h3 {
        text-align: center;
        font-family: Montserrat;
        font-size: 100%;
        padding: 5px;
    }

    #about-section {
        height: 750px;
        width: 100%;
        margin-top: 25px;
        background: #B9ff66;
    
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .about-block {
        height: 100%;
        width: 100%;
        font-family: 'Black Ops One';
        margin-left: 0;
        text-align: center;
        padding: 5%;
    }

    #top-boots-section {
        height: 1000px;
        width: 100%;
        margin-top: 25px;
    
        display: flex;
        justify-content: center;
        flex-direction: column;
    }    

    .top-boots-block {
        height: 100%;
        width: 100%;
        font-family: 'Black Ops One';
        margin-left: 0;
        text-align: center;
        padding: 5%;
    }


    #top-boots-price-info {
        font-size: 150%;
        background-color: orange;
        padding: 0;
        width: 100%;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 30px;
    }

    #sign-up-container {
        height: 300px;
        width: 100%;
        margin-bottom: 20px;
        background: none;
        background-color: #B9ff66;
    }
    
    #sign-up-container h3 {
        font-family: 'Black Ops One';
        font-size: 150%;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 10px;
        margin-left: 40px;
    }
    #sign-up-container li {
        font-family: Montserrat;
        font-size: 120%;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 40px;
    }

    .sign-up-button {
        margin-left: 40px;
    }
}